.self{
  text-align: center;
  display: flex;
  align-self: flex-end;;
}

.viewWrapper1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.playerWrapper1 {
      padding: 2vw;
      display: flex;
      flex: 3;
  }

.playerWrapper2 {
      display: flex;
      flex: 5;
      /*padding: 15vw;*/
  }

.avatar {
  background: url('/assets/US with Avatars.png') center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.isStateOf {
  color: white;
}
