<div class="players">
  <img src="assets/PixelPhone3.png" class="phone"/>
 <div class="viewWrapper">
   <div  class="playerWrapper1" ng-repeat="player in allPlayers| filter: filterer" >
     <a ng-click="getPlayer(player._id)" ui-sref="createPlayer({createPlayerId: player._id})">
     <div class="playercard" id="player1">
       <img id="avatar" ng-src="{{player.avatar}}"/>{{player.name}}</a>
       <button type="button" name="button" ng-model="getPlayers()">Get Players</button>
     </div>
   </div>
 </div>
</div>
