    body {
        color: #3c3b3b;
        background-color: whitesmoke;
        background-size: cover;
        margin: 0 auto;
        padding: 0px;
        font-family: 'Happy Monkey', cursive;
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
    }
    a {
        cursor: crosshair;
    }
    button:hover {
        cursor: crosshair;
    }
    .logo {
      background: url(assets/logomck.png) no-repeat center;
      background-size: contain;
      height: 36vh;
      width: auto;
      margin: 0 auto;
      position: relative;
      z-index: 9999;
      margin-top: -18px;
    }
    .nav {
        height: 45px;
        width: 100%;
        background: transparent;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav a {
        position: relative;
        display: inline-block;
        width: auto;
        font-size: 12px;
        background-color: rgba(0, 0, 0, .2);
        text-transform: uppercase;
        border: 2px solid white;
        text-decoration: none;
        font-family: 'Arial', 'sans-serif';
        color: white;
        height: 45px;
        font-size: 14px;
        margin: 0px;
        border: none;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
    #homeIcon1 {
        position: absolute;
        top: 20px;
        right: 32px;
    }
    #homeIcon2 {
      position: absolute;
      bottom: 14px;
      right: 14px;
    }
    .mainMenuBtn {
        background: rgba(0, 0, 0, .4);
        width: max-content;
        height: max-content;
        padding: 10px;
        box-shadow: 4px 4px 100px #ccc;
        float: left;
        clear: both;
    }
    .mainMenuBtn2 {
        /*background: rgba(0, 0, 0, .3);*/
        width: max-content;
        height: max-content;
        padding: 7px;
        /*box-shadow: 4px 4px 100px #ccc;*/
        float: left;
        clear: both;
        margin: 0 auto;
        position: absolute;
        bottom: 18px;
        margin-left: 25px;
    }
    .mainMenuBtn3 {
        /*background: rgba(0, 0, 0, .3);*/
        width: max-content;
        height: max-content;
        padding: 10px;
        float: left;
        clear: both;
        position: absolute;
        bottom: 12px;
        left: 13px;
    }
    .mainMenuBtn a, #homeIcon1 a, #homeIcon2 a {
        color: #F1EEE5;
        text-decoration: none;
        text-transform: uppercase;
    }
    #homeIcon1 a, #homeIcon2 a {
        font-size: 29px;
    }
    .homepage {
        background: url('assets/bkd.png') center no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .title {
        float: left;
        color: white;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: -25px;
        font-size: 32px;
        font-family: 'Bangers';
        letter-spacing: 3px;
    }
    .games {
        background: url('assets/bkd.png') center no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .learn {
        background: url('assets/sbbk.png') center no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .players {
        background: url('assets/sbbk.png') center no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ready, .set, .go {
        background: rgba(15, 40, 69, 0.65);
        padding: 18px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        display: none;
        position: absolute;
        z-index: 99999;
    }
    .game1Wrapper {
        background: url('assets/sbbk.png') center no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .viewWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .gameplayWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .gameChoices {
        background: rgba(0, 0, 0, .25);
        border-radius: 17px;
        width: 100%;
        padding: 5px;
        height: 47%;
        float: left;
        margin-bottom: -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .game1 {
        width: 110px;
        height: 110px;
        border-radius: 10px;
        border: 2px solid #ffb30f;
        background: url('assets/g1thmb.png') center no-repeat;
        background-size: cover;
        position: relative;
    }

    #game1title {
        position: absolute;
        right: 10px;
        bottom: -9px;
        color: white;
        font-size: 14px;
        line-height: 1;
    }
    .game2 {
        width: 110px;
        height: 110px;
        border-radius: 10px;
        border: 2px solid #ffb30f;
        background: url('assets/ggbridge.jpeg') center no-repeat;
        background-size: cover;
    }
    .game3 {
        width: 110px;
        height: 110px;
        border-radius: 10px;
        border: 2px solid #ffb30f;
        background: url('assets/capitolbldng.jpeg') center no-repeat;
        background-size: cover;
    }
    .game4 {
        width: 110px;
        height: 110px;
        border-radius: 10px;
        border: 2px solid #ffb30f;
        background: url('assets/nf.jpeg') center no-repeat;
        background-size: cover;
    }
    .game1:hover, .game2:hover, .game3:hover, .game4:hover {
        box-shadow: 4px 20px 200px #46A5D4;
    }
    .gameLock1 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.65);
        text-align: center;
        display: none;
    }
    .gameLock2, .gameLock3, .gameLock4 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.65);
        text-align: center;
    }
    .fa-lock {
        font-size: 35px;
        color: #beb172;
        float: left;
        width: 100%;
        margin: 20px 0 -5px 0;
    }
    .unlock {
        color: white;
        font-size: 14px;
        float: left;
        clear: both;
        line-height: 1;
        width: 100%;
    }
    .mainSvg {
        margin-top: 4px;
    }
    .main-wrapper {
      width: 100%;
      height: auto;
      min-height: 73vh;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 30%;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .phone {
      position: absolute;
      z-index: 9999999;
      left: -94px;
      top: -139px;
      width: 134%;
      pointer-events: none;
    }
    .screen1 {
      background-color: whitesmoke;
      width: 699px;
      height: 358px;
      margin: 0;
      overflow: hidden;
    }
    .page-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: center;
        width: 100%;
        padding: 0 10px;
        margin-top: 75px;
    }
    #landingHomeIcon {
        position: absolute;
        top: 60px;
        left: 30px;
        z-index: 99999;
        background: rgba(244, 255, 255, .3);
    }
    .instructions {
        display: flex;
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: 98%;
    }
    .wrapper {
        background: rgba(0, 0, 0, .24);
        background-size: cover;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: none;
    }
    .landingMap {
        background: url('assets/usamck.png') center center no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
        margin-left: -35px;
        margin-right: 8px;
        margin-top: 0px;
        position: absolute;
    }
    .landingModal {
        background: rgba(15, 40, 69, 0.65);
        padding: 40px;
        margin: 10px 12px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .landingModal button {
        margin-top: 10px;
        border: none;
        color: white;
        background-color: rgba(0, 255, 0, .6);
        box-shadow: 4px 20px 100px #ccc;
        text-transform: uppercase;
        height: 30px;
        padding: 5px 10px;
        font-size: 14px;
        float: left;
        clear: both;
    }
    .landingModal h3 {
        float: left;
        width: 100%;
    }
    #goal {
        font-weight: bold;
        font-family: 'Boogaloo', cursive;
        font-size: 22px;
        margin-bottom: 0;
    }
    #replay {
        border: none;
        color: white;
        background-color: #437F97;
        /*box-shadow: 4px 20px 100px #ccc;*/
        text-transform: uppercase;
        height: max-content;
        padding: 10px;
        font-size: 14px;
        float: left;
        margin-left: 25px;
        display: none;
    }
    #canvas {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 640px;
        height: 310px;
        pointer-events: none;
        opacity: 0.5;
        display: none;
    }
    .usMainWrapper {
      width: 80%;
      height: auto;
      position: relative;
      margin-top: -42px;
      margin-left: -15px;
      display: none;
    }
    #akWrapper {
      position: absolute;
      bottom: 0;
      left: -42px;
      z-index: 99;
      width: 25%;
      height: 28%;
    }
    #hiWrapper {
      position: relative;
      bottom: 215px;
      left: -29px;
      z-index: 98;
      width: 33%;
      height: 28%;
    }
    #layer_1 {
      margin-left: 5px;
    }
    .sidebar {
      background: #FFB30F;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 23%;
      padding: 6px;
      text-align: center;
    }
    .questionBox {
      width: 100%;
      height: max-content;
      background: rgba(23, 134, 191, 0.84);
      border-radius: 5px;
      box-sizing: border-box;
      border: 4px solid white;
      padding: 18px 3px;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
      margin-top: 5px;
    }
    .questionBox select {
        margin-top: 5px;
    }
    .timer {
        width: 100%;
        height: max-content;
        box-sizing: border-box;
        font-size: 25px;
        background: rgba(17, 44, 51, 0.67);
        border-radius: 5px;
        border: 4px solid white;
        /*box-shadow: 4px 4px 45px #fff;*/
        padding: 5px;
        font-family: 'Orbitron', sans-serif;
        color: lime;
        text-transform: uppercase;
        text-align: center;
    }
    .scoreWrapper {
        padding: 23px;
    }
    .answerWrapper {
        padding: 23px;
        width: 80%;
        height: max-content;
        padding: 18px 14px;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
    }
    .points {
        width: 80%;
        height: 20px;
        padding: 15px 0 10px 16px;
        float: left;
        font-size: 15px;
        font-family: 'Happy Monkey', cursive;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }
    .gameOverMsg {
        display: none;
        background: rgba(23, 134, 191, 0.84);
        width: auto;
        padding: 10px;
        float: left;
        font-size: 13px;
        font-family: 'Happy Monkey', cursive;
        color: white;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid white;
        margin: 75px 10px 20px 10px;
    }
    .pin {
        background: url(https://cdn.goconqr.com/uploads/image_clipping/image/75550/flag_pin_angled_400_clr_9655.png) center no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 999999;
        left: 230px;
        top: 55px;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        display: none;
    }
    /*SVG w hover*/

    polygon, path {
        stroke: rgba(14, 128, 147, 1) !important;
        stroke-width: .12 !important;
    }
    .territory-west:hover {
        fill: #B1DBA6 !important;
    }
    .territory-northeast:hover {
        fill: #79909B !important;
    }
    g.michigan:hover polygon {
        fill: #79909B !important;
    }
    g.maryland:hover path {
        fill: #79909B !important;
    }
    .territory-ksmo:hover {
        fill: #F7CC7E !important;
    }
    .territory-southeast:hover {
        fill: #EFA497 !important;
    }
    .playerWrapper {
        margin: auto;
        display: flex;
        align-content: space-around;
    }
    .playercard {
        width: max-content;
        height: max-content;
        padding: 5px;
        box-shadow: 4px 4px 100px #ccc;
        float: left;
        margin-top: 93px;
    }
    .playercard h3 {
        width: 100%;
    }
    .playercard img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    #go {
      width: 100%;
    }
    #player1 {
        background: rgba(200, 0, 0, .3);
    }
    #player2 {
        background: rgba(0, 170, 0, .3);
    }
    #player3 {
        background: rgba(0, 0, 170, .3);
    }
    #player4 {
        background: rgba(170, 170, 0, .3);
    }
    #player5 {
        background: rgba(0, 170, 170, .3);
    }
    .flexIcon {
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    li {
        text-decoration: none;
    }
